doctype 5
html(lang="en",manifest="manifest.appcache")
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.css")
  body
    #header
      a(href="http://www.kitchencred.org")
        img(src="/imgs/kitchen_cred_logo.png", alt="Kitchen Cred")
    #map
    #tabs
    script(src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/js/main.min.js")