doctype 5
html(lang="en",manifest="manifest.appcache")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="viewport",content="width=320, user-scalable=no")
    title= title
    link(rel="apple-touch-icon-precomposed", href="/img/touch-icon-ipad-retina.png")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/components/fa/css/font-awesome.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css")
    link(rel="stylesheet", href="/components/leaflet_awesome_markers/leaflet.awesome-markers.css")
  body
    #header
      a(href="http://www.kitchencred.org")
        img(src="/imgs/kitchen_cred_logo.png", alt="Kitchen Cred")
    #map
    #tabs
        ul
            li(data-name="info").selected
                i.fa.fa-info-circle
                |  Info
            li(data-name="organics")
                i.fa.fa-leaf
                |  Organics
            li(data-name="cost")
                i.fa.fa-usd
                |  Price
        #tab-info
            .name [[properties.OFFICIAL_S || ("Farmer's Market: " + properties.ADDRESS)]]
        #tab-organics
            .noinfo.
                No information about organic food availability is currently available.
        #tab-cost
            .noinfo.
                No cost information is currently available.
    script(src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js")
    script(src="/components/leaflet_awesome_markers/leaflet.awesome-markers.min.js")
    script(src="/components/jquery/jquery.min.js")
    script(src="/js/main.min.js")
    srcipt(src="/components/retina_js/retina.min.js")
