doctype 5
html(lang="en",manifest="manifest.appcache")
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    #header
      h1= title
    #map
    #footer
    script(src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js")
    script(src="/js/main.min.js")